$btnColorSearch: #4A89DC;
$btnColorWatchAdd: #48CFAD;
$btnColorWatchRemove: #ED5565;
$btnBack: #967ADC;

.btn {
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.btn-back {
    padding: 10px 20px;
    margin-bottom: 20px;
    background: $btnBack;
}

.btn-search {
    height: 44px;
    width: 100px;
    background: $btnColorSearch;

    &:hover {
        background: rgba($btnColorSearch, 0.9);
    }
}

.btn-watchlist {
    font-size: 20px;
    padding: 2px 0;
    width: 28px;
}

.btn-watchlist-add {
    background: $btnColorWatchAdd;
}

.btn-watchlist-remove {
    background: $btnColorWatchRemove;
}