// NEEDS TO BE TIDIED

input {
    outline: none;
}

form.search fieldset input[type="text"] {
    width: 50%;
    padding: 10px 14px;
    font-size: 18px;
    border: 1px solid #ddd;
    background: #f5f5f5;
    @include box-shadow(inset 0 1px 2px rgba(0,0,0,.05));
    border-radius: 4px;
}