// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.fluid {
    display: block;
    height: auto;
    width: 100%;
}

.cf{
    &:after{
        content:"";
        display:table;
        clear:both;
    }
}