a {
    text-decoration: none;
    color: #666;
}

button {
    outline: none;
}

blockquote {
    font-size: 40px;
    text-align: center;
    line-height: 1;
}

.main-ctn {
    width: 75%;
    margin: auto;
}

.search {
    padding: 30px;
    text-align: center;
}

.main-container {
    width: 800px;
    margin: auto;
}

.search-container {
    @include box-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
    margin-bottom: 40px;
}

fieldset {
    border: none;
}

/* Film List Item */
.film-search-result {
    position: relative;
}

.film {
    max-width: 780px;
    margin: auto;
    position: relative;
}

.film-entry {
    display: block;
    background: $filmContainer;
    margin-bottom: 1px;
    position: relative;
}

.film-img {
    width: 100px;
    height: 150px;
    float: left;
}

.film-details {
    position: relative;
}

.film-title {
    margin-bottom: 5px;
}

.film-overview {
    margin-top: 20px;
}

.film-backdrop {
    max-width: 100%;
}

.stats-tabs {
    margin-top: 20px;
}

.stats-tabs li {
    margin: 0 10px 10px 0;
    padding: 0 10px 0 0;
    }
.stats-tabs li:last-child {
    margin: 0;
    padding: 0;
    border: none;
    }
.stats-tabs li a {
    display: block;
    float: left;
    font-size: 18px;
    font-weight: bold;
    }
.stats-tabs li span {
    display: block;
    margin-top: 2px;
    font-size: 13px;
    font-weight: normal;
    }

.result-view {
    text-align: center;
}

.result-view .film-details {
    margin: 0;
    top: 0;
}

.result-view .stats-tabs li{
    float: none;
    display: inline-block;
}

.result-film-details {
    margin-left: 120px;
}

.result-stat-tabs {
    li {
        float: left;
    }
}

.cta-ctn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

/* Helpers */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}