//@include font-face('Futura Bold', futura/bold/futura-bold);

//$FuturaBold: 'Futura Bold', Arial, Helvetica, sans-serif;


html {
    font: 100%/1.5 Arial, sans-serif;
}

body  {
    word-break: break-word;
    color: black;
    font-family: Lato, sans-serif;
}

body,
input,
button  {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    font-weight: normal;
}

.giga{
    font-size: 8.75em;      /* 8.75*16 = 140 */
}

.mega{
    font-size: 6.25em;      /* 6.25*16 = 100 */
}

.kilo{
    font-size: 3.75em;      /* 3.75*16 = 60 */
}

h1,
.alpha {
    font-size: 3.25em;      /* 3.25*16 = 52 */
}

h2,
.beta {
    font-size: 1.75em;      /* 1.5*16 = 28 */
}

h3,
.gamma {
    font-size: 1.17em;      /* 1.17*16 = 18.72 */
}

h4,
.delta {
    font-size: 1em;         /* 1*16 = 16 */
}

h5,
.epsilon {
    font-size: 0.83em;      /* 0.83*16 = 13.28 */
}

h6,
.zeta {
    font-size: 0.75em;    /* 0.75*16 = 12 */
}

small,
.milli {
    font-size: 0.75em;
}

p {
    margin: auto auto 1.5em;
}

a,
a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote {
    font-style: italic;
}

blockquote:before {
    content: '\201C';
    @include inline-block;
    padding-right: .4em;
}