<a href="/#film/{{id}}" class="film-entry js-film-entry" data-id="{{id}}">
    <img src="{{poster}}" class="film-img">

    <div class="result-film-details">
        <h2 class="film-title">{{title}}</h2>
        <p class="film-release-date">Released {{releaseYear}}</p>

        <ul class="result-stats-tabs clearfix">
            <li>{{vote_average}} <span>Vote Average</span></li>
            <li>{{vote_count}} <span>Vote Count</span></li>
        </ul>
    </div>
</a>
<div class="cta-ctn">
    {{#if watchlist}}
        <button class="btn btn-watchlist btn-watchlist-remove js-watchlist" data-toggle="remove">-</button>
    {{else}}
        <button class="btn btn-watchlist btn-watchlist-add js-watchlist" data-toggle="add">+</button>
    {{/if}}
</div>
