<div class="film clearfix" data-id="{{id}}">

    {{#if backdrop}}
        <img src="{{backdrop}}" class="film-backdrop">
    {{else}}
        <img src="img/coming-soon.jpg" alt="" class="film-backdrop">
    {{/if}}

    <div class="film-details">

        {{#if tagline}}
            <blockquote>{{tagline}}</blockquote>
        {{/if}}

        <h2 class="film-title">{{title}}</h2>
        <p class="film-release-date">Released {{releaseYear}}</p>

        <p class="film-overview">{{overview}}</p>

        <ul class="stats-tabs">
            <li>{{vote_average}} <span>Vote Average</span></li>
            <li>{{vote_count}} <span>Vote Count</span></li>
        </ul>

        <p>Adult: {{adult}}</p>
        <p>Budget: {{budget}}</p>

        <div>
            <h3>Genres</h3>

            <ul>
                {{#each genres}}
                    <li>{{name}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="cta-ctn">
        {{#if watchlist}}
            <button class="btn btn-watchlist btn-watchlist-remove js-watchlist" data-toggle="remove">-</button>
        {{else}}
            <button class="btn btn-watchlist btn-watchlist-add js-watchlist" data-toggle="add">+</button>
        {{/if}}
    </div>

    <a href="#" class="btn btn-back">Back to results</a>
</div>