<header class="search-container">
    <form action="/" class="search">
        <fieldset>
            <input type="text" placeholder="Search for a movie..." class="search-box" />
            <input type="submit" value="Search" class="btn btn-search js-btn-search" />
        </fieldset>
    </form>
</header>

<a href="/watchlist" class="view-watchlist js-view-watchlist">View Watchlist</a>